.biginput{
    height: 280px;
    width: 100%;
    border: 1px solid #e8e9ea;
    border-radius: 5px;
    margin-top: 20px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.link{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #e8e9ea;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}
.imageresize{
    height:200px;
    width:100%;
}