* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto";
	outline: none;
	border: none;
}
.heading{
	color: #00FF5C;
}

.align {
	background-color: black;
	background-size: 100%;
	background-repeat: no-repeat;
	position:fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
	border: 1px solid white;
	background-color: black;
}

.card {
	margin-top: 28px;
	height: 100%;
	max-height: 446px;
	width: 396px;
	background-color: black;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
}

.extend {
	max-height: 480px;
}

.head {
	width: 100%;
	display: flex;
	height: 72px;
	background-color: black;
	border-bottom: 1px solid black;
	justify-content: space-between;
}

.head a {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(140,140,140);
	font-size: 20px;
	font-weight: 500;
	background-color: black;
	border: 1px solid black;
}

.head .selected {
	position: relative;
	color: #00FF5C;
	font-weight: 700;
	background-color: black;
}

.head .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #00FF5C;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}

.form {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	padding: 44px 38px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 0;
	background-color: black;
	transition: right 0.2s;
	border: 1px solid black;
}

.extend form {
	right: 100%;
}

.inputs {
	width: 100%;
	padding-top: 6px;
}

.input {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	width: 100%;
	font-size: 17px;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 16px 18px 16px 51px;
	color: rgb(220,220,220);
}

.cardbutton {
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}
.cardbutton1{
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}